h1 {
  font-size: 2em;
}

p {
  font-size: 0.8em;
  margin-bottom: 30px;
}

div.information {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

h1,
p,
div.information {
  text-align: center;
}

input {
  background-color: white;
  margin: 10px;
  height: 40px;
  width: 80%;
  border-radius: 10px;
}

input.btn {
  background-color: white;
  color: #111111;
  border-radius: 10px;
  margin-bottom: 10%;
}

.form-group {
  margin-bottom: 15px;
}

#barre-force {
  height: 10px;
  margin-top: 5px;
  border-radius: 5px;
  transition: width 0.5s ease;
}

#indicateur-force {
  width: 80%;
  margin: 10px 0;
}
