h1 {
  font-size: 2em;
}

p {
  font-size: 0.8em;
  margin-bottom: 50px;
}

div.information {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

h1,
p,
div.information {
  text-align: center;
}

input {
  background-color: white;
  margin: 10px;
  height: 40px;
  width: 80%;
  border-radius: 50px;
}

input.btn {
  background-color: white;
  color: #111111;
  border-radius: 50px;
  margin-bottom: 10%;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
