.cadre {
  perspective: 1000px;
}

.memory-card {
  transition: transform 0.75s ease-in-out;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-face {
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg) rotateX(0deg);
}

.back-face {
  transform: rotateY(0deg) rotateX(0deg);
}
.memory-card.is-flipped {
  transform: rotateY(180deg) rotateX(0deg);
}

.text-violet {
    color: #ff0aeb;
}

#modalVictoire {
  background-color: rgba(33, 37, 41, 0.555) !important; 
    backdrop-filter: blur(4px);
}


#modalVictoire .modal-content {
    background-color: rgba(33, 37, 41, 0.925) !important; 
}

