.cadre {
  perspective: 1000px;
}

.memory-card {
  transition: transform 0.75s ease-in-out;
  transform-style: preserve-3d;
}

.card-face {
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg) rotateX(0deg);
}

.back-face {
  transform: rotateY(0deg) rotateX(0deg);
}
.memory-card.is-flipped {
  transform: rotateY(180deg) rotateX(0deg);
}
