@font-face {
  font-family: "Questrial";
  src: url(../fonts/Questrial-Regular.ttf);
}

body {
  background-color: #111111;
  font-family: "Questrial";
}

.bloc-principal {
  border: solid 1px #ff0aeb;
  border-radius: 7px;
  box-shadow: 0px 0px 57px 13px rgba(255, 10, 235, 0.5);
  padding: 50px;
  margin-bottom: 100px;
}

@media screen and (min-width: 1600px) {
  .bloc-principal {
    box-shadow: 0px 0px 200px 50px rgba(255, 10, 235, 0.5);
  }
}

@media screen and (min-width: 768px) and (max-width: 1600px) {
  .bloc-principal {
    box-shadow: 0px 0px 100px 20px rgba(255, 10, 235, 0.5);
  }
}

h1,
p,
a,
label,
ul,
h2,
input.btn,
div.information {
  color: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
}

.navbar-perso,
.header,
.nom,
.navbar-toggler-icon {
  background-color: transparent;
}

.active {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.nom,
h1 {
  letter-spacing: 4px;
}
